{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Contact | Gigil Jacob{% endblock title %}
{% block css %}
{% endblock css %}

{% block body %}
<main>
    <div class="container">
        <div class="row content-height">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        MAP
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="name" class="form-label">{{ form.name.label }}</label>
                                {% render_field form.name id="name" class="form-control" placeholder="Name" %}
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">{{ form.email.label }}</label>
                                {% render_field form.email id="email" class="form-control" placeholder="Email" %}
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="form-label">{{ form.phone_number.label }}</label>
                                {% render_field form.phone_number id="phone" class="form-control" placeholder="Phone Number" %}
                            </div>
                            <div class="mb-3">
                                <label for="message" class="form-label">{{ form.message.label }}</label>
                                {% render_field form.message id="message" class="form-control" placeholder="Message" %}
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <button class="btn btn-outline-success me-md-2" type="button">Cancel</button>
                                <button class="btn btn-outline-success" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                            {% with message as toast_message %}
                            {% with message.tags as toast_header %}
                                {% include 'toast.html' %}
                            {% endwith %}
                            {% endwith %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock body %}

{% block js %}
{% endblock js %}