{% extends 'base.html' %}
{% load static %}

{% block body %}
  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  {% include 'hero.html' %}

  <main id="main">
    {# include 'about.html' #}

    {# include 'resume-v1.html' #}

    {# include 'facts.html' #}

    {# include 'skills.html' #}

    {# include 'portfolio.html' #}

    {# include 'services.html' #}

    {# include 'testimonials.html' #}

    {% include 'contact.html' %}

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{% endblock %}
