{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Login{% endblock %}
{% block js %} {% endblock %}
{% block css %} {% endblock %}

{% block content %}

<!-- forgot form start -->
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3 pt-5 mt-lg-5">

          <div class="card">
            <div class="card-body">
              <h4 class="card-title logo">EIMS</h4>
              <h6 class="card-subtitle mb-2 text-muted">Educational institutional management system</h6>
              <hr>
              <!-- form start  -->
              <form method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="email">{{ form.email.label }}</label>
                  {% render_field form.email class="form-control px-3" id="email" aria-describedby="email" placeholder="Enter email" %}
                </div>
                <input type="submit" value="Send reset" class="btn btn-primary px-5">
                <p class="float-lg-right">Don't have account ? <a href="{% url 'accounts:register' %}">Register New.</a> </p>
              </form>
              <!-- form end -->
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}