{% extends 'base.html' %}

{% block title %}IMS | Manage Institute{% endblock %}

{% block content %}

<h3>{{ institute.name }}</h3>

<p><b>Administration Settings</b></p>
<hr>
  <p>
    <a href="">Employee Role</a>
    | <a href="">Role Access</a>
    | <a href="{% url 'employees:list' institute.identifier %}">Employees</a>
    | <a href="">Courses</a>
    | <a href="">Syllabus</a>
    | <a href="">Evaluations</a>
    | <a href="">Settings</a>
  </p>

<p><b>Admission Settings</b></p>
<hr>
  <p>
    <a href="">Databases</a>
    | <a href="">Admissions</a>
    | <a href="">E-forms</a>
    | <a href="">Admitted History</a>
    | <a href="">E-form Settings</a>
  </p>

<p><b>Fee Management</b></p>
<hr>

{% endblock %}