{% load static %}

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'img/profile-pic.jpg' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="{% url 'profile:home' %}">Gigil Jacob</a></h1>
        <div class="social-links mt-3 text-center">
            <a href="https://www.linkedin.com/in/gigil-jacob/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            <a href="https://www.instagram.com/gigiljacob/" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="https://join.skype.com/invite/khblVhcOcchE" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="https://www.facebook.com/gigil.jacob/" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://twitter.com/GigilJacob" class="twitter"><i class="bx bxl-twitter"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="{% if page == 'home' %}#hero{% else %} {% url 'profile:home' %} {% endif %}" class="nav-link scrollto {% if page == 'Home' %}active{% endif %}">
            <i class="bx bx-home"></i> <span>Home</span></a></li>
          <!--<li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>-->
          <li><a href="{% url 'profile:resume' %}" class="nav-link scrollto {% if page == 'resume' %} active {% endif %}">
            <i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <!--<li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>-->
          <!--<li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>-->
          <li><a href="{% url 'profile:contact' %}" class="nav-link scrollto {% if page == 'contact' %} active {% endif %}">
            <i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->