
.about-left {
    font-size: 2rem;
}

.about-right {
    font-weight: lighter;
}

.about-bottom {
    margin-top: 15px;
    height: auto;
    width: 100%;
}

.about-center-screen {
    display: flex;
    align-items: center;
    text-align: center;
}

.about-image-width {
    width: 100%;
}